.cancha{
  background: #8CB27C;
  width: 1000px;
  height: 500px;
  position: absolute;
  left:180px;
  top:80px;
}

.limite-cancha{
  width: 900px;
  height: 450px;
  border: solid 4px #FFF;
  position: relative;
  left:50px;
  top:21px;
}

.porteria-derecha, .porteria-izquierda{
  position: relative;
  width: 130px;
  height: 200px;
  border: solid 4px #FFF;
}

.porteria-derecha{
  left: -4px;
  left: 766px;
  top:121px
}

.porteria-izquierda {
  right: 4px;
  top:-79px
}

.centro-cancha{
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: solid 4px #FFF;
  top: -287px;
  left: 346px
}

.balon1, .balon2, .balon3{
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #FFF;
  box-shadow: 1px 1px 1px #000;
}

.balon1{
  left: 170px;
  top: -300px
  }
.balon2{
  left: 510px;
  top: -388px;

}

.balon3{
  bottom: 180px;
  left: 795px;
}
